{% extends 'base.html.jinja' %}

{% from 'checkroom/item_list.html.jinja' import list_items %}

{% block header %}
    <h1>{% block title %}Checkin{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if my_items %}
    <form action="{{ url_for('checkroom.checkin') }}" method="post">
        {{ list_items(my_items) }}
        <input type="submit" value="Checkin">
    </form>
    {% else %}
    <span>You have no outstanding items.</span>
    {% endif %}
{% endblock %}
