{% extends 'base.html.jinja' %}

{% from 'checkroom/item_list.html.jinja' import list_items %}

{% block title %}Checkin{% endblock %}

{% block content %}
    {% if my_items %}
    <form action="{{ url_for('checkroom.checkin') }}" method="post">
        {{ list_items(my_items) }}
        <input class="button is-success" type="submit" value="Check In">
    </form>
    {% else %}
    <span>You have no outstanding items.</span>
    {% endif %}
{% endblock %}
