{% extends 'base.html.jinja' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h1>Index</h1>
    <a class="action" href="{{ url_for('checkroom.checkout') }}">Checkout</a>
    <a class="action" href="{{ url_for('checkroom.checkin') }}">Checkin</a>
{% endblock %}

{% block content %}
    <span>Placeholder</span>
{% endblock %}