{% macro list_items(items, buttons=True) %}
<table class="table is-bordered">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        {% if buttons %}
        <th>Select</th>
        {% endif %}
    </tr>
{% for item in items %}
    <tr>
        <td><figure class="image is-128x128"><img alt="Image of {{ item['name'] }}" src="/image/{{ item['id'] }}"></figure></td>
        <td>{{ item["name"] }}</td>
        <td>{{ item["description"] }}</td>
        {% if buttons %}
        <td>
            <input type="checkbox" name="item_ids" value="{{ item['id'] }}">
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}
