{% extends 'base.html.jinja' %}

<{% block title %}Administration{% endblock %}

{% block content %}
<a class="button" href="{{ url_for('admin.create') }}">New Item</a>
<table class="table is-bordered">
    <tr>
        <th>Image</th>
        <th>ArUco Marker</th>
        <th>Name</th>
        <th>Description</th>
        <th>Borrower</th>
        <th>Update</th>
    </tr>
    {% for item in items %}
    <tr>
        <td><figure class="image is-128x128"><img alt="Image of {{ item['name'] }}" src="/image/{{ item['id'] }}"></figure></td>
        <td><figure class="image is-128x128"><img alt="ArUco marker for item id {{ item['id'] }}" src="/aruco/{{ item['id'] }}"></figure></td>
        <td>{{ item["name"] }}</td>
        <td>{{ item["description"] }}</td>
        <td>{{ item["username"] }}</td>
        <td><a class="button" href="{{ url_for('admin.update', id=item['id']) }}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}