{% extends 'base.html.jinja' %}

{% block title %}Update "{{ item['name'] }}"{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
            <input name="name" id="name" value="{{ request.form['name'] or item['name'] }}" class="input" type="text" placeholder="Item Name" required>
        </div>
    </div>
  
    <div class="field">
        <label for="description" class="label">Description</label>
        <div class="control">
            <textarea name="description" id="description" class="textarea" placeholder="Item Description">{{ request.form['description'] or item['description'] }}</textarea>
        </div>
    </div>

    <div class="field">
        <label for="image" class="label">Item Image</label>
        <div class="control">
            <input type="file" name="image" accept=".png">
        </div>
    </div>
  
    <div class="field is-grouped">
        <div class="control">
            <input class="button is-success" type="submit" value="Save">
        </div>
        <div class="control">
            <a href="{{ url_for('admin.index') }}" class="button is-warning">Cancel</a>
        </div>
    </div>
  </form>
<hr>
<form action="{{ url_for('admin.delete', id=item['id']) }}" method="post">
    <div class="field">
        <div class="control">
            <input class="button is-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
        </div>
    </div>
</form>
{% endblock %}

