{% extends 'base.html.jinja' %}

{% block title %}Update Item{% endblock %}

{% block header %}
  <h1>{% block title %}Update "{{ item['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] or item['name']}}" required>
        <label for="description">Description</label>
        <textarea name="description" id="description">{{ request.form['description'] or item['description']}}</textarea>
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('admin.delete', id=item['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}

